body {
  margin: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}
h1, a {
  padding: 0px;
}

#results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 0px;
}
